{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th scope=" col">pk</th>
        <th scope="col">username</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      {%for user in users %}
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>
            <a href="{% url 'accounts:detail' user.pk%}">{{user.username}}</a>
          </td>
          <td>
            {{user.email}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body%}