.parent{
  width: 90%;
  margin: 10px auto;
  display: flex;
}

.first {
  border: 1px solid red;
  flex:1;
  width:30%;
  box-sizing: border-box;
  align-items: center;
}

.second{
  border: 1px solid green;
  flex:1;
  margin: 0px 5%;
  width:30%;
  box-sizing: border-box;
}

.third{
  border: 1px solid blue;
  flex:1;
  width:30%;
  box-sizing: border-box;
}