.nav{
  display: flex;
  justify-content: space-between;
}
.nav-list{
  display: flex;
  list-style:none;
  padding: 0;
  margin:0;
} 

.nav-link{
  text-decoration: none;
}

.nav-link:hover{
  color:white;
  background-color: black;
  border-radius: 3px;
  padding:2px;
}

.nav-item{
  margin: 0 10px;
}